<div class="col-lg-10">
  <div class="card shadow">
    <div class="card-header">
      <h4 class="card-title">
      booking confirmation
      </h4>
      <div class="class-body">
      hello
      </div>
    </div>  
  </div>
</div>